.App {
    width: 100%;
    padding: 2rem 3.5rem;
    background: #f8f8f8;
}

.App.Select {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

@media only screen and (max-width: 992px) {
    .App.Select {
        grid-template-columns: 1fr;
        gap: 4rem;
    }
}
@media only screen and (max-width: 480px) {
    .App {
        padding: 2rem 1rem;
    }
}
