.Watch {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

@media only screen and (max-width: 992px) {
    .Watch {
        grid-template-columns: 1fr;
        gap: 4rem;
    }
}
