.VideoItem {
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin-bottom: 2rem;
}
.VideoItemText {
    padding-left: 2rem;
}
.Thunbnail {
    width: 100%;
}
.ThumbnailImg {
    width: 100%;
}
.ThumbnailImg2 {
    width: 100%;
}
@media only screen and (max-width: 480px) {
    .VideoItem {
        grid-template-columns: 1fr;
        box-shadow: 0 1px 1px #eee;
        padding-bottom: 1rem;
    }
    .VideoItemText {
        padding: 0;
        text-align: center;
    }
}
