.Header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 5rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 100;
}

@media only screen and (max-width: 768px) {
    .Header {
        padding: 0.5rem 2rem;
    }
}
@media only screen and (max-width: 400px) {
    .Header {
        padding: 0.5rem 0.5rem;
    }
}
