.NavigationItem {
    font-size: 2.2rem !important;
    width: 3rem !important;
    color: rgb(53, 53, 170);
}
.NavigationItem.Search {
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 576px) {
    .NavigationItem.Search {
        display: initial;
    }
}
