.SearchBar {
    flex: 1;
    text-align: center;
}
.SearchBar2 {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em 0;
    z-index: 100;
    padding-right: 2rem;
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
}
.SearchBar2.Open {
    display: flex;
}
.SearchForm2 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.SearchClose {
    width: 5rem;
    text-align: center;
}
.SearchInput2 {
    width: 100%;
    line-height: 3rem;
    padding-left: 1rem;
    font-family: inherit;
    font-weight: 400;
    font-size: 1.6rem;
    border: 1px solid #aaa;
    color: #333;
    outline: none;
}
.SearchCloseIcon {
    font-size: 2.2rem !important;
    color: rgb(53, 53, 170) !important;
}
.SearchForm {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.SearchInput {
    width: 50%;
    line-height: 3rem;
    padding-left: 1rem;
    font-family: inherit;
    font-weight: 400;
    font-size: 1.6rem;
    border: 1px solid #aaa;
    color: #333;
    outline: none;
}

.SearchInput::placeholder {
    color: #aaa;
}

.SearchInput:focus {
    border: 1px solid rgb(53, 53, 170);
    box-shadow: 0px 1px 1px 0px#eee;
}

.SearchBtn {
    padding: 0.6rem 2rem;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    cursor: pointer;
}

.SearchIcon {
    font-size: 1.6rem !important;
    color: rgb(53, 53, 170) !important;
}

@media only screen and (max-width: 1199px) {
    .SearchInput {
        width: 65%;
    }
}

@media only screen and (max-width: 992px) {
    .SearchInput {
        width: 75%;
    }
}

@media only screen and (max-width: 576px) {
    .SearchForm {
        display: none;
    }
}

@media only screen and (min-width: 576px) {
    .SearchBar2.Open {
        display: none;
    }
}
