.SearchBar {
    flex: 1;
    text-align: center;
}

.SearchForm {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.SearchInput {
    width: 50%;
    line-height: 3rem;
    padding-left: 1rem;
    font-family: inherit;
    font-weight: 400;
    font-size: 1.6rem;
    border: 1px solid #aaa;
    color: #333;
    outline: none;
}

.SearchInput::placeholder {
    color: #aaa;
}

.SearchInput:focus {
    border: 1px solid rgb(53, 53, 170);
    box-shadow: 0px 1px 1px 0px#eee;
}

.SearchBtn {
    padding: 0.6rem 2rem;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    cursor: pointer;
}

.SearchIcon {
    font-size: 1.6rem !important;
    color: rgb(53, 53, 170) !important;
}

@media only screen and (max-width: 1199px) {
    .SearchInput {
        width: 65%;
    }
}

@media only screen and (max-width: 992px) {
    .SearchInput {
        width: 75%;
    }
}

@media only screen and (max-width: 576px) {
    .SearchBtn {
        display: none;
    }
    .SearchInput {
        width: 95%;
    }
}
