.Logo {
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Logo img {
    width: 100%;
}
/* @media only screen and (max-width: 400px) {
    .Logo {
        width: 10rem;
    }
} */
